# Local Environment Secrets (MUST BE HERE)
.env.local
.env

# Dependencies
node_modules/
.pnpm-store/

# Next.js Build Output
.next/
out/
build/

# Logs and OS files
npm-debug.log*
.DS_Store

# Claude Code
.claude/
CLAUDE.md

#extra
service_data.xlsx